body {
    
    background-image: url("images/hout.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.message-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}


.message-box {
    width: 280px;
    background: black;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 5px 5px 5px rgb(83, 76, 76);
}

.message-form {
    width: 280px;
    height: 386px;
}

.top-info {
    display: flex;
    justify-content: center;
    width: 280px;
    font-size: 30px;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.font {
    color: gray;
}

.button {
    display: flex;
    justify-content: center;
}

textarea {
  outline: none;
  justify-content: center;
  border-radius: 14px;
  overflow: auto;
  opacity: 0.87;
  text-align: justify;
  
}


.submitButton {
	box-shadow: -3px 3px 6px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:14px;
	border:3px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:11px;
	font-weight:bold;
	padding:9px 33px;
	text-decoration:none;
	text-shadow:-3px 2px 3px #810e05;
}


.submitButton1 {
	box-shadow: -3px 3px 6px 0px green;
    background:linear-gradient(to bottom, green 5%, green 100%);
	background-color:#2ed43c;
	border-radius:14px;
	border:3px solid #36a315;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:11px;
	font-weight:bold;
	padding:9px 33px;
	text-decoration:none;
    text-shadow:-3px 2px 3px #129b1e;
    
}
 
body {
    margin: 0;
    padding: 0;
    background-color: #004882;
  }
  
 
  

  .box select {
    background-color: #0563af;
    justify-content: space-around;
    border-radius:14px;
    color: white;
    padding: 12px;
    width: 80px;
    border: none;
    font-size: 12px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
 
  
  .box select option {
    padding: 20px;
  }