.content {
    display: flex;
    flex-wrap: wrap;
}

.vacay-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    height: 300px;
    width: 600px;
    text-align: center;
}

#kerstvakantie {
    /* background-color: rgb(189, 189, 189); */
}
#voorjaarsvakantie {
    /* background-color: rgb(165, 165, 165); */
}

#meivakantie {
    /* background-color: rgb(143, 143, 143); */
}

#zomervakantie {
    /* background-color: rgb(83, 83, 83); */
}

.timer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.countd {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    border: 2px solid;
    margin: 10px;
    font-size: 12px;
    border-radius: 50%;
    overflow: hidden;
}

.countd span {
    display: block;
    font-size: 26px;
    margin-top: 14px;
}