* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
.navbar {
    background-image: linear-gradient(#4b4b4b, #3d3d3d);
    overflow: hidden;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    -webkit-transition-duration: 0.4s; /* voor bob's mac */
    transition-duration: 0.4s;
}
.navbar a:hover {
    background-color: #D980FA;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    color: white;    
}
.navbar a.active {
    background-color: #D980FA;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    color: white;
}
img {
    padding-right: 10px;
    float: right;
    width: 45px;
    height: 45px;
}
.logout {
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 10px;
    -webkit-transition-duration: 0.4s; /* Bob's mac */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #3d3d3d;
    color: white;
    border: 2px solid #EA2027;
    float: right;
}
.logout:hover {
    background-color: #EA2027;
    color: white;
}
.topinfo {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
    background-image: linear-gradient(#3d3d3d, #4b4b4b);
}
.fullpage {
    height: 100%;
    background-color: #21D4FD;
    /* background-image: linear-gradient(19deg, #21D4FD 26%, #B721FF 75%); */
    background-image: linear-gradient(#78CFF6, #7CACF7, #808AF8, #9D84F9, #C389FA);
}
  
  

