* {
    margin: 0;
    padding: 0;
}
.all-content {
    display: flex;
}
#particles-js canvas {
    background-image: url("/images/image1.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    height: 100%;
}

.login-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.login-box {
    width: 280px;
    background: black;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 55px 55px;
    box-shadow: 5px 5px 5px rgb(83, 76, 76);
    z-index: 1;
}

.login-form {
    width: 280px;
    height: 525px;
}

.top-info {
    display: flex;
    justify-content: center;
    width: 280px;
    font-size: 30px;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 15px;
    height: 173px;
    width: 253px;
}

.input, .subm-button {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.input {
    border: hidden;
    font-size: 15px;
    color: white;
    line-height: 1.2;
    border: 0px;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}

.input:focus {
    outline: none;
    /* Text input underline */
}
.labels {
    color: white;
}
.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #6a7dfe;
    background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    background: -o-linear-gradient(left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(left, #21d4fd, #b721ff);
    background: linear-gradient(left, #21d4fd, #b721ff);
}

.input:focus+.focus-input::after {
    top: -15px;
}

.input:focus+.focus-input::before {
    width: 100%;
}

.has-val.input+.focus-input::after {
    top: -15px;
}

.has-val.input+.focus-input::before {
    width: 100%;
}

.wrong-login {
    color: white;
}
/*////////////////////////////////////////////////*/
.absent, .present, .admin  {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* voor bob's mac */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
}

.absent {
    color: white;
    font-weight: bold;
    background-color: black;
    border: 2px solid #e74c3c;

}
.absent:hover {
    background-color: #e74c3c;
    color: white;
}

.present {
    color: white;
    font-weight: bold;
    background-color: black;
    border: 2px solid #27ae60;
    
}
.present:hover {
    background-color: #27ae60;
    color: white;
}

.admin {
    color: white;
    font-weight: bold;
    background-color: black;
    border: 2px solid gold;

}
.admin:hover {
    background-color: gold;
    color: white;
}